* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-weight: 400;
}

.main {
    height: 630px;
    width: 100vh;
    background-image: url(Image/snowy-mountains-sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 13px;
    margin: 0 auto;
    height: 10%;
    background-color: transparent;
    padding-block: 5px;

}

.hstar {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.hend {
    gap: 25px;
    width: 280%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.key {
    width: 180px;
    display: flex;
    align-items: center;
    text-align: center;
}

.mybizz {
    width: 197px;
    display: flex;
    align-items: center;
    text-align: center;
}

.wishlist {
    display: flex;
    align-items: center;
}

.mytrip {
    display: flex;
    align-items: center;
}

.lang {
    align-items: center;
    justify-content: center;
}

.accountcreate {
    align-items: center;
}

.container.options {
    top: 150px;
    left: 100px;
    position: absolute;
    background-color: aquamarine;
    height: 20%;
    width: 80%;
    border-radius: 20px;
    z-index: 1;
}
@media only screen and (max-width: 600px) {
    .container.options {
        top: 150px;
        left: 70px;
        position: absolute;
        background-color: aquamarine;
        height: 20%;
        width: 68%;
        border-radius: 20px;
    }
}

.container.flying {
    top: 200px;
    left: 50px;
    position: absolute;
    background-color: rgb(244, 121, 6);
    height: 60%;
    width: 90%;
    border-radius: 20px;
}
.container.floating {
    top: 600px;
    left: 250px;
    position: absolute;
    background-color: rgb(18, 6, 244);
    height: 10%;
    width: 50%;
    border-radius: 40px;
}
.container.bottom{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(186, 201, 210);
}
.container-fluid.offer{
    height: 50%;
    width: 100%;
    background-color: rgb(186, 201, 210);
}
